/*  GLOBAL */
body { height:100%; font:13px/17px arial; color:#7d7d7d; margin:0; padding:0; }
img { border:0; }
form { margin:0; }
*:focus { outline:0; }
h1 { font:24px/30px helvetica,arial; color:#232323; margin:0; padding:20px 0 6px 0; }
h2 { font:18px/22px helvetica,arial; color:#232323; margin:0 0 6px 0; padding:0; }
h3 { font:14px/14px helvetica,arial; color:#959595; clear:both; margin:0 0 6px 0; padding:0; }
h4 { font:14px/18px helvetica,arial; color:#959595; margin:0 0 6px 0; padding:0; }
ul { margin:0 0 12px 0; padding:0 0 0 24px; }
ol { margin:0 0 12px 0; padding:0 0 0 24px; }
li { margin:0 0 6px 0; padding:0; }
p { margin:0 0 12px 0; }
a { color:#5f8eBe; text-decoration:none; }
a:hover { color:#8ac0e2; text-decoration:underline; }
input { font:11px/13px arial; color:#7d7d7d; }
select { font:11px/13px arial; color:#7d7d7d; }
textarea { font:10px/12px arial; color:#7d7d7d; }
sup { font:7px/7px arial; }

/* STRUCTURE */
header { background:#d6d6d5; color:#000; overflow:hidden; border-bottom:1px solid #fff; box-shadow:0 2px 4px rgba(0,0,0,.4); margin-bottom:10px; }
header .logo { box-shadow:0 2px 12px rbga(0,0,0,.4); margin:10px; }
div[role=main] { padding:0 20px; }
footer { border-top:1px solid #fff; color:#000; line-height:18px; clear:both; box-shadow:0 2px 10px rgba(0,0,0,.4); padding:5px; }
footer {
  background:#d6d6d5;
  background:-moz-linear-gradient(top, #d6d6d5 0%, #ededec 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d5), color-stop(100%,#ededec));
  background:-webkit-linear-gradient(top, #d6d6d5 0%,#ededec 100%);
  background:-o-linear-gradient(top, #d6d6d5 0%,#ededec 100%);
  background:-ms-linear-gradient(top, #d6d6d5 0%,#ededec 100%);
  background:linear-gradient(to bottom, #d6d6d5 0%,#ededec 100%);
}
footer p { margin-bottom:0; }

/* ASSETS */
.left { float:left; }
.right { float:right; }

/* MESSAGE */
.message, .update-message { display:none; background:#014d71; color:#fff; border-radius:4px; padding:10px; margin-bottom:6px; }

/* STICKY FOOTER */
.wrapper { height:auto !important; margin:0 auto -28px; min-height:100%; }
.push { height:28px; }

/* MENU > TOP */
.top-menu { float:right; list-style:none; margin:0; padding:4px; }
.top-menu li { float:left; margin:2px 6px; }

/*  MENU > MAIN */
nav { float:right; }
nav .menu { float:right; list-style:none; margin:0; padding:15px; }
nav .menu li { float:left; margin:0; padding:0; }

nav .menu li a { font-size:13px; font-weight:bold; color:#050505; text-transform:uppercase; display:block; padding:10px 20px; margin-left:5px; }
nav .menu li a {
  background: -webkit-linear-gradient( top, #ffffff 0%, #dbdbdb 50%, #b5b5b5);
  background: -moz-linear-gradient( top, #ffffff 0%, #dbdbdb 50%, #b5b5b5);
  background: -o-linear-gradient( top, #ffffff 0%, #dbdbdb 50%, #b5b5b5);
  background: -ms-linear-gradient( top, #ffffff 0%, #dbdbdb 50%, #b5b5b5);
  background: linear-gradient( top, #ffffff 0%, #dbdbdb 50%, #b5b5b5);
  background: -webkit-gradient( linear, left top, left bottom, from(#ffffff), color-stop(0.50, #dbdbdb), to(#b5b5b5));
  border-radius: 2px;
  border: 1px solid #949494;

  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 rgba(255,255,255,1);
}

nav .menu li a:hover { background:#b5b5b5; text-decoration:none;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.3);
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
}

nav .menu li a {
  -webkit-transition: all .2s linear;
  -moz-transition:    all .2s linear;
  -o-transition:      all .2s linear;
  -ms-transition:     all .2s linear;
  transition:         all .2s linear;
}

nav .menu li.active a { background: #efefef; }
nav .menu li.last {  }

/* FORM > INPUTS */
input[type=text], input[type=password], textarea { width:300px; background:#fff; border:1px solid #7d7d7d; border-radius:3px; padding:8px 4px; }
input[type=checkbox] { margin:0 5px; }
textarea { width:400px; font-size:13px; font-family:arial; }

/* FORM > BUTTONS */
input[type=submit], input[type=button], button, .button { color:#fff; font-size:13px; text-transform:uppercase; border:none; border-radius:4px;  padding:6px 10px; }

input[type=submit],input[type=button],button,.button {
  background-color: #cb3499;

  background-image: -webkit-linear-gradient(top, #cb3499 0%, #db5faf 49%, #d52593 50%, #d52593 100%);
  background-image: -moz-linear-gradient(top, #cb3499 0%, #db5faf 49%, #d52593 50%, #d52593 100%);
  background-image: -o-linear-gradient(top, #cb3499 0%, #db5faf 49%, #d52593 50%, #d52593 100%);
  background-image: -ms-linear-gradient(top, #cb3499 0%, #db5faf 49%, #d52593 50%, #d52593 100%);
  background-image: linear-gradient(top, #cb3499 0%, #db5faf 49%, #d52593 50%, #d52593 100%);
}

input[type=submit]:hover,input[type=button]:hover,button:hover,.button:hover {
  background: #e260af;
  text-decoration: none;

  background-image: -webkit-linear-gradient(top, #ed7fc2 0%, #e260af 49%, #d93096 50%, #e767b5 100%);
  background-image: -moz-linear-gradient(top, #ed7fc2 0%, #e260af 49%, #d93096 50%, #e767b5 100%);
  background-image: -o-linear-gradient(top, #ed7fc2 0%, #e260af 49%, #d93096 50%, #e767b5 100%);
  background-image: -ms-linear-gradient(top, #ed7fc2 0%, #e260af 49%, #d93096 50%, #e767b5 100%);
  background-image: linear-gradient(top, #ed7fc2 0%, #e260af 49%, #d93096 50%, #e767b5 100%);
}

/* FORM > ERRORS */
.error-message { color:#ff0000; font-size:11px; }
input[type=text].error, input[type=password].error, textarea.error { border:1px solid #ff0000; }
