/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
html { overflow-y:scroll; }
html, body {  height:100%; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background:#fe57a1; color:#fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display:block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}




/*  GLOBAL */
body { height:100%; font:13px/17px arial; color:#7d7d7d; margin:0; padding:0; }
img { border:0; }
form { margin:0; }
*:focus { outline:0; }
h1 { font:24px/30px arial; color:#232323; margin:0; padding:20px 0 6px 0; }
h2 { font:18px/22px arial; color:#232323; margin:0 0 6px 0; padding:0; }
h3 { font:14px/14px arial; color:#959595; clear:both; margin:0 0 6px 0; padding:0; }
h4 { font:14px/18px arial; color:#959595; margin:0 0 6px 0; padding:0; }
ul { margin:0 0 12px 0; padding:0 0 0 24px; }
ol { margin:0 0 12px 0; padding:0 0 0 24px; }
li { margin:0 0 6px 0; padding:0; }
p { margin:0 0 12px 0; }
a { color:#5f8eBe; text-decoration:none; }
a:hover { color:#8ac0e2; text-decoration:underline; }
input { font:11px/13px arial; color:#7d7d7d; }
select { font:11px/13px arial; color:#7d7d7d; }
textarea { font:10px/12px arial; color:#7d7d7d; }
sup { font:7px/7px arial; }

/* STRUCTURE */
header { background:#d6d6d5; color:#000; overflow:hidden; border-bottom:1px solid #fff; box-shadow:0 2px 4px rgba(0,0,0,.4); margin-bottom:10px; }
header .logo { padding:10px; }
div[role=main] { padding:0 20px; }
footer { border-top:1px solid #fff; color:#000; line-height:18px; clear:both; padding:5px; }
footer {
  background:#d6d6d5;
  background:-moz-linear-gradient(top, #d6d6d5 0%, #ededec 100%);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d5), color-stop(100%,#ededec));
  background:-webkit-linear-gradient(top, #d6d6d5 0%,#ededec 100%);
  background:-o-linear-gradient(top, #d6d6d5 0%,#ededec 100%);
  background:-ms-linear-gradient(top, #d6d6d5 0%,#ededec 100%);
  background:linear-gradient(to bottom, #d6d6d5 0%,#ededec 100%);
}
footer p { margin-bottom:0; }

/* ASSETS */
.left { float:left; }
.right { float:right; }

/* MESSAGE */
.message, .update-message { display:none; background:#014d71; color:#fff; border-radius:4px; padding:10px; margin-bottom:6px; }

/* STICKY FOOTER */
.wrapper { height:auto !important; margin:0 auto -28px; min-height:100%; }
.push { height:28px; }

/* MENU > TOP */
.top-menu { float:right; list-style:none; margin:0; padding:4px; }
.top-menu li { float:left; margin:2px 6px; }

/*  MENU > MAIN */
nav { float:right; }
nav .menu { float:right; list-style:none; margin:0; padding:5px; }
nav .menu li { float:left; margin:0; padding:0; }

nav .menu li a { font-size:13px; font-weight:bold; color:#050505; text-transform:uppercase; }
nav .menu li a { padding:10px 20px; margin-left:4px; }
nav .menu li a {
  background: -webkit-linear-gradient( top, #ffffff 0%, #dbdbdb 50%, #b5b5b5);
  background: -moz-linear-gradient( top, #ffffff 0%, #dbdbdb 50%, #b5b5b5);
  background: -o-linear-gradient( top, #ffffff 0%, #dbdbdb 50%, #b5b5b5);
  background: -ms-linear-gradient( top, #ffffff 0%, #dbdbdb 50%, #b5b5b5);
  background: linear-gradient( top, #ffffff 0%, #dbdbdb 50%, #b5b5b5);
  background: -webkit-gradient( linear, left top, left bottom, from(#ffffff), color-stop(0.50, #dbdbdb), to(#b5b5b5));
  border-radius: 2px;
  border: 1px solid #949494;

  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 rgba(255,255,255,1);
}

nav .menu li a:hover {
  background: #b5b5b5;
  text-decoration: none;

  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.3);
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
}

nav .menu li a {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}

nav .menu li.active a { background: #efefef; }
nav .menu li.last { margin-right:30px; }

/* FORM > INPUTS */
input[type=text], input[type=password], textarea { width:300px; background:#fff; border:1px solid #7d7d7d; border-radius:3px; padding:8px 4px; }
input[type=checkbox] { margin:0 5px; }
textarea { width:400px; font-size:13px; font-family:arial; }

/* FORM > BUTTONS */
input[type=submit], input[type=button], button, .button { color:#fff; font-size:13px; text-transform:uppercase; border:none; border-radius:4px;  padding:6px 10px; }

input[type=submit],input[type=button],button,.button {
  background-color: #cb3499;

  background-image: -webkit-linear-gradient(top, #cb3499 0%, #db5faf 49%, #d52593 50%, #d52593 100%);
  background-image: -moz-linear-gradient(top, #cb3499 0%, #db5faf 49%, #d52593 50%, #d52593 100%);
  background-image: -o-linear-gradient(top, #cb3499 0%, #db5faf 49%, #d52593 50%, #d52593 100%);
  background-image: -ms-linear-gradient(top, #cb3499 0%, #db5faf 49%, #d52593 50%, #d52593 100%);
  background-image: linear-gradient(top, #cb3499 0%, #db5faf 49%, #d52593 50%, #d52593 100%);
}

input[type=submit]:hover,input[type=button]:hover,button:hover,.button:hover {
  background: #e260af;
  text-decoration: none;

  background-image: -webkit-linear-gradient(top, #ed7fc2 0%, #e260af 49%, #d93096 50%, #e767b5 100%);
  background-image: -moz-linear-gradient(top, #ed7fc2 0%, #e260af 49%, #d93096 50%, #e767b5 100%);
  background-image: -o-linear-gradient(top, #ed7fc2 0%, #e260af 49%, #d93096 50%, #e767b5 100%);
  background-image: -ms-linear-gradient(top, #ed7fc2 0%, #e260af 49%, #d93096 50%, #e767b5 100%);
  background-image: linear-gradient(top, #ed7fc2 0%, #e260af 49%, #d93096 50%, #e767b5 100%);
}

/* FORM > ERRORS */
.error-message { color:#ff0000; font-size:11px; }
input[type=text].error, input[type=password].error, textarea.error { border:1px solid #ff0000; }
